{% load static %}
<div class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="{% url 'appName:index' %}">経費精算デモ</a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'appName:index' %}">一覧</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'appName:add' %}">登録 <span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>
</div>