{% extends 'appName/base.html' %}
{% load static %}
{% load render_table from django_tables2 %}

{% block content %}

<div class="container">
        <h1>経費一覧</h1>
        <a href="{% url 'appName:index' %}?_export=csv">ダウンロード</a>
        {% if object_list %}
        {% render_table table %}
        {% else %}
        <div class="alert alert-secondary" role="alert">
                <strong>データを<a href="{% url 'appName:add' %}" style="color: black; text-decoration: none;">登録</a>してください！
                </strong>表示するデータがありません。
        </div>
        {% endif %}
</div>
{% endblock %}